$primary-dark: #324360;
$accent-blue: #35c4ce;
$text-gray: #787878;
$font-heading: 'Josefin Sans', sans-serif;
$font-body: 'Quando', serif;

@mixin transition-all($time: 0.3s) {
  transition: all $time ease;
}

@mixin flex-container($justify: space-between, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

body {
  font-family: $font-body;
  color: $text-gray;
  margin: 0;
  line-height: 1.6em;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1170px;
}

header {
    .top-logo {
      width: 200px;
      margin: 20px auto 40px;
      text-align: center;
      img { max-width: 100%; }
    }
  
    nav {
      font-family: $font-heading;
      ul {
        list-style: none;
        padding: 0;
        @include flex-container(center, center);
        
        li {
          margin: 0 15px;
          position: relative;
          
          a {
            color: $primary-dark;                        
            text-transform: uppercase;
            font-weight: 900;
            font-size: 12px;
            text-decoration: none;
            padding-bottom: 5px;                           
            @include transition-all(0.2s);
            &:hover { color: $accent-blue; }
          }
  
          &.menu-item-has-children > a::after {
            content: '\f078'; 
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 10px;
            margin-left: 5px;
            vertical-align: middle;
          }
  
            &.current-menu-item > a, &:hover > a {
           border-bottom: 2px solid $primary-dark;
             }
  
        
          ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            display: block;
            background: #f0f0f0;
            z-index: 999;
            min-width: 175px;
            top: 100%;
            left: 0;
            text-align: left; // تراز کردن متن زیرمنو به چپ
            @include transition-all(0.2s);
            
            li {
              margin: 0;
              border-top: 1px solid #e9e9e9;
              a {
                padding: 15px;
                display: block;
                text-transform: none;
                color: #111;
                border-bottom: none !important; // زیرمنو خط زیرین نمی‌خواهد
              }
            }
          }
  
          &:hover > ul {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

article {
  margin: 50px 0;
  @include flex-container(space-between, flex-start); 

  .image-part {
    flex: 1; 
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      @include transition-all(3.5s);
      &:hover { transform: scale(1.5); }
    }
  }

  .content-part {
    flex: 1; 
    padding-left: 50px; 
    
    .post-title {
      margin-top: 0; 
      a {
        color: $primary-dark;
        font-family: $font-heading;
        font-size: 31px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.3em;
        text-decoration: none;
        @include transition-all;
        &:hover { color: $accent-blue; }
      }
    }

    p {
      margin-top: 20px;
      font-size: 15px;
    }
  }
}

footer {
  background: #eaf2ff;
  padding: 40px 0;
  text-align: center;
  .footer-social-links {
    margin: 20px 0;
    a {
      margin: 0 15px;
      color: #989898;
      text-transform: uppercase;
      font-size: 11px;
      text-decoration: none;
      @include transition-all;
      &:hover { color: #111; }
    }
  }
}
.footer-logo {
    width: 200px;          
    margin: 20px auto;      
    text-align: center;
    
    img {
      max-width: 100%;      
      height: auto;
    }
  }